<Type Name="SPIdentityClaimMapper" FullName="Microsoft.SharePoint.Administration.Claims.SPIdentityClaimMapper">
  <TypeSignature Language="C#" Value="public abstract class SPIdentityClaimMapper" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi abstract beforefieldinit SPIdentityClaimMapper extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Microsoft.SharePoint.Administration.Claims.SPIdentityClaimMapper" />
  <TypeSignature Language="VB.NET" Value="Public MustInherit Class SPIdentityClaimMapper" />
  <TypeSignature Language="C++ CLI" Value="public ref class SPIdentityClaimMapper abstract" />
  <TypeSignature Language="F#" Value="type SPIdentityClaimMapper = class" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.SharePoint</AssemblyName>
    <AssemblyVersion>15.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="protected SPIdentityClaimMapper ();" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.SharePoint.Administration.Claims.SPIdentityClaimMapper.#ctor" />
      <MemberSignature Language="VB.NET" Value="Protected Sub New ()" />
      <MemberSignature Language="C++ CLI" Value="protected:&#xA; SPIdentityClaimMapper();" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.SharePoint</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetMappedIdentityClaim">
      <MemberSignature Language="C#" Value="public abstract Microsoft.IdentityModel.Claims.Claim GetMappedIdentityClaim (Uri context, System.Collections.Generic.IEnumerable&lt;Microsoft.IdentityModel.Claims.Claim&gt; identityClaims);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class Microsoft.IdentityModel.Claims.Claim GetMappedIdentityClaim(class System.Uri context, class System.Collections.Generic.IEnumerable`1&lt;class Microsoft.IdentityModel.Claims.Claim&gt; identityClaims) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.SharePoint.Administration.Claims.SPIdentityClaimMapper.GetMappedIdentityClaim(System.Uri,System.Collections.Generic.IEnumerable{Microsoft.IdentityModel.Claims.Claim})" />
      <MemberSignature Language="VB.NET" Value="Public MustOverride Function GetMappedIdentityClaim (context As Uri, identityClaims As IEnumerable(Of Claim)) As Claim" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; abstract Microsoft::IdentityModel::Claims::Claim ^ GetMappedIdentityClaim(Uri ^ context, System::Collections::Generic::IEnumerable&lt;Microsoft::IdentityModel::Claims::Claim ^&gt; ^ identityClaims);" />
      <MemberSignature Language="F#" Value="abstract member GetMappedIdentityClaim : Uri * seq&lt;Microsoft.IdentityModel.Claims.Claim&gt; -&gt; Microsoft.IdentityModel.Claims.Claim" Usage="sPIdentityClaimMapper.GetMappedIdentityClaim (context, identityClaims)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.SharePoint</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.IdentityModel.Claims.Claim</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="context" Type="System.Uri" />
        <Parameter Name="identityClaims" Type="System.Collections.Generic.IEnumerable&lt;Microsoft.IdentityModel.Claims.Claim&gt;" />
      </Parameters>
      <Docs>
        <param name="context">To be added.</param>
        <param name="identityClaims">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>