<Type Name="UserProfileIdentityClaimMapper" FullName="Microsoft.Office.Server.Security.UserProfileIdentityClaimMapper">
  <TypeSignature Language="C#" Value="public sealed class UserProfileIdentityClaimMapper : Microsoft.SharePoint.Administration.Claims.SPIdentityClaimMapper" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi sealed beforefieldinit UserProfileIdentityClaimMapper extends Microsoft.SharePoint.Administration.Claims.SPIdentityClaimMapper" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Office.Server.Security.UserProfileIdentityClaimMapper" />
  <TypeSignature Language="VB.NET" Value="Public NotInheritable Class UserProfileIdentityClaimMapper&#xA;Inherits SPIdentityClaimMapper" />
  <TypeSignature Language="C++ CLI" Value="public ref class UserProfileIdentityClaimMapper sealed : Microsoft::SharePoint::Administration::Claims::SPIdentityClaimMapper" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Office.Server.UserProfiles</AssemblyName>
    <AssemblyVersion>15.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>Microsoft.SharePoint.Administration.Claims.SPIdentityClaimMapper</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>             Class that knows how to search the User Profile Store to map a set of identity claims to a single identity claim.             </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public UserProfileIdentityClaimMapper ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Office.Server.Security.UserProfileIdentityClaimMapper.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; UserProfileIdentityClaimMapper();" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Server.UserProfiles</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>             Default constructor that creates a strongly typed IdentityClaimMapper instance             </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetMappedIdentityClaim">
      <MemberSignature Language="C#" Value="public override Microsoft.IdentityModel.Claims.Claim GetMappedIdentityClaim (Uri context, System.Collections.Generic.IEnumerable&lt;Microsoft.IdentityModel.Claims.Claim&gt; identityClaims);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig virtual instance class Microsoft.IdentityModel.Claims.Claim GetMappedIdentityClaim(class System.Uri context, class System.Collections.Generic.IEnumerable`1&lt;class Microsoft.IdentityModel.Claims.Claim&gt; identityClaims) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Office.Server.Security.UserProfileIdentityClaimMapper.GetMappedIdentityClaim(System.Uri,System.Collections.Generic.IEnumerable{Microsoft.IdentityModel.Claims.Claim})" />
      <MemberSignature Language="VB.NET" Value="Public Overrides Function GetMappedIdentityClaim (context As Uri, identityClaims As IEnumerable(Of Claim)) As Claim" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; override Microsoft::IdentityModel::Claims::Claim ^ GetMappedIdentityClaim(Uri ^ context, System::Collections::Generic::IEnumerable&lt;Microsoft::IdentityModel::Claims::Claim ^&gt; ^ identityClaims);" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Office.Server.UserProfiles</AssemblyName>
        <AssemblyVersion>15.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.IdentityModel.Claims.Claim</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="context" Type="System.Uri" />
        <Parameter Name="identityClaims" Type="System.Collections.Generic.IEnumerable&lt;Microsoft.IdentityModel.Claims.Claim&gt;" />
      </Parameters>
      <Docs>
        <param name="context">To be added.</param>
        <param name="identityClaims">To be added.</param>
        <summary>             Searches the UPA to map to a single identity claim from a set of identity claims that are used as search parameters.             </summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <exception cref="T:System.ArgumentNullException" />
        <exception cref="T:System.InvalidOperationException" />
        <exception cref="T:System.ArgumentException" />
        <exception cref="T:Microsoft.SharePoint.SPException" />
        <exception cref="T:Microsoft.Office.Server.UserProfiles.UserProfileException" />
        <exception cref="!:Microsoft.Office.Server.Security.UserProfileIdentityClaimsNotMappedToUserException" />
      </Docs>
    </Member>
  </Members>
</Type>